<h1>Places</h1>

<ul class="list-unstyled">
  <% for place in @places %>
    <li>
      <a href="/places/<%= place["id"] %>"class="btn btn-light"><%= place["name"] %></a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class="btn btn-success">New place</a>
</p>